/** Add sass/scss rules here for your application. */
.container {
    width: 1200px;
    margin: 0 auto;
}
.header-top {
    padding: 35px 0;
    background-color: #E0E0E0;
    background-image: url(../images/header-left.jpg), url(../images/header-right.jpg);
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%, auto 100%;
    box-shadow: 0px 0px 35px 0px rgba(38, 38, 38, 0.5);
    position: relative;
}
.label, label {
    color: #263746;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    padding-bottom: 10px; 
}
input {
    color: #40B1F1;
    border: 1px solid #c8c8c8;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 9px 13px 11px;
    font-weight: 500;
    background-color: rgba(0,0,0,0.09);
    border-radius: 0;
}
.chosen-container {
    border: 1px solid #c8c8c8;
    background-color: rgba(0,0,0,0.09);
    border-radius: 0;
    width: 100%;
    padding: 9px 13px 11px;
    .chosen-single {
        background: transparent;
        border: none;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
        height: auto;
        box-shadow: none;
    }
    span {
        color: #40B1F1;
        display: block;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }
    .chosen-results {
        margin: 0;
        padding: 15px 0;
        li {
            padding: 10px 13px; 
        }
    }
}
.chosen-container-active.chosen-with-drop {
    .chosen-single {
        border: none;
        background-image: none;
        box-shadow: none;
    }
}
.chosen-container-single {
    .chosen-drop {
        margin: 0 0 0 -13px;
        border: none;
        background-color: #40B1F1;
    }
}

.filter-toolbar {
    .row {
        padding-bottom: 25px;
        &.half {
            text-align: center;
        }
    }
}
.form-field {
    float: left;
    width: 30%;
    &:nth-child(2) {
        margin: 0 5%;
    }
    .label {
        display: block;
    }
}
.half {
    .form-field {
        width: 150px;
        display: inline-block;
        float: none;
        margin: 0 0 0 15px;
        label {
            display: block;
        }
    }
}
.apply-filters, .toggle-view-mode, .reset, button.edit, button.copy, button.delete {
    display: table;
    margin: 0 auto;
    background-color: transparent;
    color: #40B1F1;
    border: 2px solid #40B1F1;
    border-radius: 50px;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 60px;
    cursor: pointer;
    &:hover {
        background-color: #40B1F1;
        color: #ffffff;
    }
}
.value {
    width: 352px;
}












.middle-section {
    background-color: #F3F3F3;
    background-image: url(../images/gray-pattern.png);
    background-position: left top;
    background-repeat: repeat;
    background-size: 16px 16px;
    padding: 35px 0;
}
.toggle-view-mode, .reset {
    float: left;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    &:hover {
        border: 2px solid #40B1F1;
    }
}
.reset {
    float: right;
}
.controls {
    padding-bottom: 35px;
}
.grid-view, .table-view {
    transition: all ease 0.5s;
    opacity: 1;
    border-radius: 10px;
    background-color: #ffffff;
}
.table-view {
    .person-cell {
        color: #40B1F1;
        box-shadow: 0px 0px 3px 0px rgba(38, 38, 38, 0.5);
        margin: 0 0 10px;
        padding: 15px 0;
        .controls {
            padding: 0;
        }
        header {
            width: 250px;
            display: inline-block;
            vertical-align: middle;
            figure {
                margin: 0;
                text-align: center;
            }
        }
        section {
            display: inline-block;
            vertical-align: middle;
            width: 850px;
            color: #263746;
            aside {
                display: inline-block;
                padding: 15px;
                vertical-align: middle;
                text-align: center;
                width: 14%;  
            }
        }
        footer {
            display: inline-block;
            vertical-align: middle;
            width: 100px;
            text-align: center;
        }
    }
    .personal-info {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 20%;
        padding: 15px;
    }
    .education {
        display: inline-block;
        vertical-align: middle;
        padding: 15px 0;
        width: 20%;
        text-align: center;
    }
    .work {
        display: inline-block;
        vertical-align: middle;
        padding: 15px;
        text-align: center;
        width: 35%;
    }
}
button.edit, button.copy, button.delete {
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 0;
}

.grid-view {
    background-color: transparent;
    color: #40B1F1;
    .cellListEvenItem, .cellListOddItem {
        display: inline-block;
        margin: 10px;
        width: 380px;
        background-color: #ffffff;
        vertical-align: top;
        border-radius: 10px;
    }
    section {
        color: #263746;
    }
    figure {
        margin: 0;
        text-align: center;
        padding: 10px 10px;
    }
    .person-cell {
        padding: 10px 25px;
    }
    footer {
        .controls {
            padding: 25px 0;
            text-align: center;
            button {
                margin: 0 5px;
            }
        }
    }
}




.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
   clear: both;
}
.clearfix {
    *zoom: 1;
}